body{
    background-color: #1c1c1b;
    margin:0;
    padding:0;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height:100vh;
}

nav{
    display: flex;
    width:100%;
    background-color: #1c1c1b;
    /* margin-top: 10px; */
    margin-top:0px;
    /* padding:20px 0; */
    align-items: center;
    position: fixed;
    z-index: 999;
    top:0px;
    justify-content: space-between;
}

.hydrated {
    visibility: inherit;
}

nav ul li{
    display:inline-block;
    list-style: none;
    margin:5px 20px;   
}

ul li a{
    color:white;
    font-weight: 600;
}

ul li a:hover{
    color:rgb(242, 242, 163);
}

.detel{
    margin-left: 8%;
    margin-top: 11%;
    color:white;
}

.detel h1{
    font-size:50px;
    margin-bottom: 20px;
}

span{
    color:rgb(243,243,116);
}

.detel p{
    line-height: 24px;
    color:gray;
}

.detel a{
    border:1px solid rgb(243, 243, 116);
    padding:15px;
    text-decoration: none;
    display: inline-block;
    color: rgb(239, 239, 163);
    border-radius: 10px;
    transition: 0.5s;
}

.detel a:hover{
    border-color: #f1ff5c;
    color:white;
    box-shadow: 0 0.5em 0.5em -0.5em;
    transform: translateY(-0.25em);
}

.images{
    width:45%;
    height: 80%;
    position:absolute;
    bottom:0;
    right:100px;
}

.images img{
    height: 100%;
    position: absolute;
    left:50%;
    bottom:0;
    transform: translateX(-50%);
    transition: bottom 1s,left 1s;
}

.images img:hover{
    left:45%;
}

.abtme
{
    width:100%;
    height:100%;
    background-color: #1c1c1b;
    /* margin-top:100px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:40px;
    
    /* display: inline-block; */
}


.frame img{
    width:500px;
    height:550px;
    /* border: 15px solid #f1ff5c; */
    border-radius: 30px;
    margin-left: 90px;
    transition: transform 1s;
}

.para p{
    color:white;
    font-weight: 600;
   
    font-size: 20px;
}


.frame img:hover{
    transform: rotate(3deg);
}

.me{
    color: white;
    margin-top: 50px;
    font-size: 40px;
    cursor: pointer;

}

.li p{
    text-decoration: none;
    color:#f1ff5c;
    
}

.con{
    border-left:5px solid #f1ff5c;
    padding-left:20px;
    margin-left:3px;
}

.skills{
    margin-top:50px;
}

.skill{
    color:white;
    font-size: 40px;
}

.bsk{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.bsk img{
    height: 200px;
    width:200px;
    margin-left: 20px;
    margin-right:20px;
    margin-top: 30px;
    border-radius: 20px;
    transition: all 1s;
}

.bsk img:hover{
     height: 210px;
     width:210px;
}

.plat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.plat img{
    height: 200px;
    width:200px;
    margin-left: 20px;
    margin-right:20px;
    margin-top: 30px;
    border-radius: 20px;
    transition: all 1s;
}

.plat img:hover{
     height: 210px;
     width:210px;
}